S3method(fortify,imagematrix)
export(StatLogo)
export(calcInformation)
export(determineOrder)
export(fortify)
export(geom_logo)
export(getOutline)
export(identifyParts)
export(letterObject)
export(letterToPolygon)
export(logo)
export(simplifyPolygon)
export(splitSequence)
export(stat_logo)
